
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="header">
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Ação", "Acao")</li>
    </ul>
    <h1 class="text-muted">Doações</h1>
</div>

<div>
    <table>
        <tr>
            <th>Voluntario</th>
            <th>Doacao</th>
        </tr>
        @foreach (var doacao in ViewBag.Doacoes)
            {
            <tr>
                <td>@doacao.IdVoluntario</td>
                <td>@doacao.Descricao</td>
                <td>@Html.ActionLink("Aceitar", "Aceitar")</td>
            </tr>
        }
    </table>
</div>

<h1 class="text-muted">Ações</h1>

<div>
    <table>
        <tr>
            <th>Entidade</th>
            <th>Categoria</th>
            <th>Ação</th>
            <th>Data / Hora</th>
            <th></th>
        </tr>
        @foreach (var acao in ViewBag.Acoes)
            {
            <tr>
                <td>@acao.IdEntidade</td>
                <td>@acao.IdCategoria</td>
                <td>@acao.Descricao</td>
                <td>@acao.DataHora</td> 
                <td>@Html.ActionLink("Aceitar", "Aceitar")</td>
            </tr>
        }
    </table>
</div>